.map-container {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.donor-map-container {
  width: 100%;
  height: 100%;
  position: relative;
  /* Important to prevent jumps */
  min-height: 400px;
}

.location-marker {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.cluster-marker {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(66, 133, 244, 0.8);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  transform: translate(-50%, -50%);
  z-index: 11;
}
